@model DevOPS_Project.Models.Room

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-warning alert-dismissible fade show" role="alert">
    You are about to delete this field from your data base
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Delete Room</h3>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-10">
        <form method="post" asp-action="DeleteRoom">

            <input type="hidden" asp-for="RoomID" />
            <input type="hidden" asp-for="BuildingID" />
            <input type="hidden" asp-for="SyscreatedDt" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" readonly />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Delete Room" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{ 

    @{  <partial name="_ValidationScriptsPartial.cshtml" />}
}

